In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df=pd.read_csv(r'F:\jupyter notbook\movie_data.csv')

In [ ]:
df.head(5)

In [ ]:
df['review']=df['review'].str.lower()

In [ ]:
import re

def remove_html_tag(text):
    pattern=re.compile('<.*?>')
    return pattern.sub(r'', text)

In [ ]:
df['review']=df['review'].apply(remove_html_tag)

In [ ]:
df['review'].sample()

In [ ]:
# import re

# def find_urls(text):
#     pattern=re.findall('^www.com$', text)
#     return pattern

In [ ]:
import string
exclude=string.punctuation
def remove_punc(text):
    for char in exclude:
        text=text.replace(char,'')
    return text

In [ ]:
df['review']=df['review'].apply(remove_punc)

In [ ]:
import string
exclude=string.punctuation

def remove_punc1(text):
    return text.translate(str.maketrans("","",exclude))

In [ ]:
df['review'].apply(remove_punc1)

In [ ]:
import textblob
from textblob import TextBlob

In [ ]:
def spell_corr(text):
    textblob=TextBlob(text)
    return textblob.correct().string

In [ ]:
str1='this is a phone.i lve englsh'

In [ ]:
# df['review'][3]

In [ ]:
str2='like with any movie genre there are good gangster movies and there are bad gangster movies if you asked me to name a good gangster movie id have dozens to choose from if you asked me to name a bad gangster movie probably the first one to pop up in my mind is one that still has me in a sort of depression of disappointment about a week since i saw the film for the first and i promise you the last time that film is the general unrelated to the 1926 silent film of the same name this is a very dry very slow gangster epic that raises questions not about the story its more than easy to follow but about why the filmmakers chose to make this rather flimsy endeavorlike goodfellas 1990 and american gangster 2007â—two superior mob moviesâ—the general is based on real people and true events the film revolves around an irish criminal named martin cahill brendan gleeson who started his long chain of crimes stealing food as a teenager and then moving up to robbing museums and houses as an adult meanwhile the police led by an inspector named kenny jon voight try desperately and vigorously to prove just one of his crimes and convict or kill himperhaps because its a film in the same category as the marvelous goodfellas 1990 and the first two godfather films i was expecting too much from the general but that may be going too easy on it this would have been a bad film had i not seen the aforementioned masterpieces before being swamped by boredom in this oater and its fartoostretched running time of screaming bad scenes lets start knocking the film by just looking at the style in which it is presented for some reason director john boorman and cinematographer seamus deasy selected to film this movie in blackandwhite while its style and presentation are clearly the elements that belong to a fullfledged color film now i have nothing against bw pictures not even ones made in modernday times schindlers list 1993 was more than ninety percent filmed in blackandwhite and its a masterpiece the general made just five years after schindlers list is not the cinematography is also far too blown out with high lighting keys that seem very distracting and give the movie a very videogamelike quality that i found simply annoying the filmmakers were obviously going for a realists documentarylike style like schindlers list did but they fail by making it seem too much like a documentary and at the same time too much like a classicstyle motion picture performances in the film range from passable to poor brendan gleeson and jon voight gave decent enthusiasm for their roles but it seemed to me at times that even they were getting kind of run down by the awful screenplay from which they were quoting the sound design is also very primitive probably in an attempt to give it a 40s crimenoir appeal but that also fails because again its made too much like a contemporary picture and seems vastly out of placebut the worst thing that occurs is that theres not oneâ—not oneâ—character in the film that i felt any emotions or opinions for in fact for every moment of every scene the only thought going through my head was okayâ…so what moments that in a better film might come across as shocking or appalling are just dull and timeconsuming here i did not sympathize or hate the brendan gleeson character because the way the cahill character is written is simply flat and dull gleeson just plays the common criminal and does not strike out with the impact the real martin cahill obviously did if a character is killed off as they always are in gangster films we feel nothing no remorse no relief no surprise nothing we just say so what and thats all i did during the entire running time of this very flimsy very poorlymade crime film'

In [ ]:
# spell_corr(str2)

In [ ]:
import nltk
from nltk.corpus import stopwords
stopwords.words('english')

In [ ]:
def remove_stopwords(text):
    new_text=[]
    
    for word in text.split():
        if word in stopwords.words('english'):
            new_text.append('')
            
        else:
            new_text.append(word)
    x=new_text[:]
    new_text.clear()
    return " ".join(x)

In [ ]:
remove_stopwords(str2)

In [ ]:
from nltk.tokenize import word_tokenize,sent_tokenize

In [ ]:
def token(text):
    
    return word_tokenize(text)

In [ ]:
import nltk
nltk.download('punkt')

In [ ]:
def token(text):
    
    return word_tokenize(text)

In [ ]:
# df['review'].apply(token)

In [1]:
import numpy as np
import pandas as pd

In [13]:
df2=pd.read_csv(r'F:\jupyter notbook\twitter_training.csv',header=None,names=['one','two','sentiment','review'])

In [14]:
df2.head()

,one,two,sentiment,review
0,2401,Borderlands,Positive,im getting on borderlands and i will murder yo...
1,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
2,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
3,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
4,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...

In [15]:
df2.drop(columns=['one','two'],axis=1)

      sentiment                                             review
0      Positive  im getting on borderlands and i will murder yo...
1      Positive  I am coming to the borders and I will kill you...
2      Positive  im getting on borderlands and i will kill you ...
3      Positive  im coming on borderlands and i will murder you...
4      Positive  im getting on borderlands 2 and i will murder ...
...         ...                                                ...
74677  Positive  Just realized that the Windows partition of my...
74678  Positive  Just realized that my Mac window partition is ...
74679  Positive  Just realized the windows partition of my Mac ...
74680  Positive  Just realized between the windows partition of...
74681  Positive  Just like the windows partition of my Mac is l...

[74682 rows x 2 columns]

In [32]:
df2['review'].str.len()

0         53.0
1         51.0
2         50.0
3         51.0
4         57.0
         ...
74677    128.0
74678    117.0
74679    125.0
74680    159.0
74681    119.0
Name: review, Length: 74682, dtype: float64